.managmentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 50px;
  height: 100vh;
  padding: 0 50px;
  justify-content: center;
}

.managmentRegister {
  width: 300px;
}
