.sectionTitle {
  text-align: center;
  h1 {
    font-size: 48px;
    text-align: center;
    font-weight: 500;
  }
  span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #452b78;
    margin-top: 29px;
  }
  h2 {
    font-size: 24px;
    margin-top: 29px;
    margin-bottom: 10px;
  }
}
